/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f6f6f6;
}
.sidebar {
  position: fixed;
  left: 8px;
  top: 15px;
  height: 94%;
  width: 78px;
  background: #513e5c;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border-radius: 18px;
}

.sidebar.open {
  width: 220px;
}
.sidebar .active-page {
  background-color: #8b7d77;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
  height: 45px;
  margin-top: 8px;
  width: 45px;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
  margin-top: 15px;
}
.sidebar .active-page {
  background-color: #8b7d77;
}

.sidebar li a:hover {
  background: #f6f6f6;
}
.sidebar li a .links_name {
  color: #f6f6f6;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}

.home-section {
  position: relative;
  background: #f6f6f6;
  min-height: 100vh;
  top: 0;
  left: 86px;
  width: calc(100% - 86px);
  transition: all 0.5s ease;
  z-index: 2;
}

.home-section .text {
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  margin-left: 35px;
}

.user-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  height: 600px;
  width: 550px;
  background-color: #513E5C;
  border-radius: 18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.user-img{
  margin-top: 20px;
  width: 170px;
  height: 170px;
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 12px;
}

.user-img i{
  font-size: 100px;
  line-height: 180px;
  color: #513E5C;
}

.user-container .user{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
}

.user-text{
  display: flex;
  flex-direction: column;
  color: #c7abc7;
  border-bottom: 3px solid #f6f6f6;
  width: 350px;
  height: 50px;
  font-size: 20px;
  justify-content: center;
}

.main-container {
  margin-top: 20px;
  position:static;
  top:50px;
  left: 400px;
}

.profile-container {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 900px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.purchase-container {
  margin-left: 50px;
  border-radius: 10px;
  background-color: white;
  width: 900px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left-profile {
  margin: auto;
}
.right-profile {
  margin: auto;
}
#purchase_table {
  margin-left: 50px;
  margin-top: 10px;
}

.profile-container h3 {
  font-size: 18px;
}

td {
  padding: 15px;
}
